# QEMU standard-system QoS control and authority support.
CONFIG_AUTHORITY_CTRL=y
CONFIG_QOS_CTRL=y
CONFIG_QOS_AUTHORITY=y
# CONFIG_RTG_AUTHORITY is not set
# CONFIG_AUTH_QOS_DEBUG is not set
CONFIG_QOS_POLICY_MAX_NR=6
CONFIG_SCHED_LATENCY_NICE=y
CONFIG_UCLAMP_TASK=y
CONFIG_UCLAMP_BUCKETS_COUNT=20
CONFIG_UCLAMP_TASK_GROUP=y
